

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
header {
    transition: background-color 0.5s;
}

header:hover {
    background-color: #0a3c81; 
}
header {
    background-color: #b9c0cc;
    color: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
}
.img{
    border-radius: 10%;

}


.img {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in img {
    opacity: 1;
    transform: scale(1);
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section#hero {
    background-color: #F8F9FA;
    text-align: center;
    padding: 100px 0;
}

section#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

section#hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #4285F4;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn1 {
    display: inline-block;
    background-color: #104db6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5%;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #357AE8;
}

section {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}




/* gestion des images */

/* Animation d'apparition */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Effet magnétique sur le texte */
@keyframes magnetic {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

   /* Effet magnétique */
   @keyframes magnetic {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Appliquer l'effet magnétique au texte */
.container h1, .container h2, .container p, .btn {
    animation: magnetic 2s infinite;
}

/* Effet magnétique */
@keyframes magnetic {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


